Graphs/.idea/
Graphs/cmake-build-debug/
Graphs/CMakeLists.txt
Greedy/.idea/
Greedy/cmake-build-debug/
Greedy/CMakeLists.txt
STL/.idea/
STL/cmake-build-debug/
STL/CMakeLists.txt
Contest/.idea/
Contest/cmake-build-debug/
Contest/CMakeLists.txt
ASCIS/.idea/
ASCIS/cmake-build-debug/
ASCIS/CMakeLists.txt
Microsoft/.idea/
Microsoft/cmake-build-debug/
Microsoft/CMakeLists.txt
**/.idea
**/.fleet
**/cmake-build-debug

